
swagger: "2.0"
info:
  description: "Functions to analyze node removal impact measures on large networks"
  version: "1.0.0"
  title: "Tuura Network Analysis API"
host: "tuura.org"
basePath: "/api/networks/"
tags:
  - name: "jobs"
    description: "Queue and get the results of network analysis jobs"
schemes:
  - "https"

paths:

  /jobs:
    put:
      tags:
        - "jobs"
      description: Queue a new network analysis job.
      parameters:
        - name: "body"
          in: "body"
          required: true
          schema:
            $ref: '#/definitions/job-request'
      responses:
        200:
          description: Job accepted
          schema:
            $ref: '#/definitions/status'
        400:
          description: Job declined (bad request)
          schema:
            $ref: '#/definitions/error'
        500:
          description: Job declined (server error)
          schema:
            $ref: '#/definitions/error'

  /jobs/{id}:
    get:
      tags:
        - "jobs"
      parameters:
        - name: "id"
          in: "path"
          description: "Job ID"
          required: true
          type: "string"
      responses:
        400:
          description: Missing job id (bad request)
          schema:
            $ref: '#/definitions/error'
        404:
          description: Job not found
          schema:
            $ref: '#/definitions/error'
        500:
          description: Job status unavailable (server error)
          schema:
            $ref: '#/definitions/error'
        200:
          description: Job found
          schema:
            $ref: '#/definitions/status'

definitions:

  job-request:
    type: "object"
    properties:
      graphml:
        type: "string"
        description: Network to analyze
      method:
        type: "string"
        description: How to select nodes for removal ('random' or 'outdegree')
      nrepeats:
        type: "integer"
        description: Repeats per analysis point (number of removed nodes)
      remove_max:
        type: "number"
        description: Maximum fraction of network nodes to remove
      granularity:
        type: "integer"
        description: Step size between analysis points (number of removed nodes)
    example:
      granularity: '1'
      graphml: >
        <?xml version="1.0" encoding="UTF-8"?>
        <graphml xmlns="http://graphml.graphdrawing.org/xmlns" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://graphml.graphdrawing.org/xmlns http://graphml.graphdrawing.org/xmlns/1.0/graphml.xsd">
          <graph id="graph" edgedefault="undirected">
            <node id="n0"/><node id="n1"/><node id="n10"/><node id="n11"/><node id="n12"/><node id="n13"/><node id="n14"/><node id="n15"/><node id="n16"/><node id="n17"/><node id="n18"/><node id="n19"/><node id="n2"/><node id="n20"/><node id="n21"/><node id="n22"/><node id="n23"/><node id="n24"/><node id="n25"/><node id="n26"/><node id="n27"/><node id="n28"/><node id="n29"/><node id="n3"/><node id="n30"/><node id="n31"/><node id="n32"/><node id="n33"/><node id="n34"/><node id="n35"/><node id="n36"/><node id="n37"/><node id="n38"/><node id="n39"/><node id="n4"/><node id="n5"/><node id="n6"/><node id="n7"/><node id="n8"/><node id="n9"/><edge source="n0" target="n18"/>
            <edge source="n0" target="n6"/><edge source="n1" target="n3"/><edge source="n1" target="n31"/><edge source="n10" target="n24"/><edge source="n10" target="n30"/><edge source="n10" target="n35"/><edge source="n10" target="n38"/><edge source="n10" target="n39"/><edge source="n11" target="n15"/><edge source="n11" target="n26"/><edge source="n12" target="n25"/><edge source="n13" target="n10"/><edge source="n13" target="n24"/><edge source="n13" target="n4"/><edge source="n14" target="n13"/><edge source="n14" target="n25"/><edge source="n14" target="n35"/><edge source="n15" target="n20"/><edge source="n15" target="n9"/><edge source="n16" target="n28"/><edge source="n16" target="n34"/><edge source="n17" target="n28"/><edge source="n17" target="n39"/><edge source="n18" target="n38"/><edge source="n18" target="n8"/><edge source="n2" target="n1"/><edge source="n2" target="n16"/><edge source="n2" target="n35"/><edge source="n2" target="n39"/><edge source="n20" target="n13"/><edge source="n20" target="n36"/><edge source="n21" target="n13"/><edge source="n21" target="n23"/><edge source="n21" target="n29"/><edge source="n22" target="n12"/><edge source="n22" target="n21"/><edge source="n22" target="n24"/><edge source="n22" target="n36"/><edge source="n23" target="n12"/><edge source="n23" target="n16"/><edge source="n23" target="n28"/><edge source="n23" target="n37"/><edge source="n24" target="n1"/><edge source="n24" target="n16"/><edge source="n24" target="n18"/><edge source="n24" target="n26"/><edge source="n24" target="n28"/><edge source="n24" target="n30"/><edge source="n25" target="n10"/><edge source="n25" target="n28"/><edge source="n26" target="n12"/><edge source="n26" target="n17"/><edge source="n26" target="n35"/><edge source="n27" target="n1"/><edge source="n27" target="n18"/><edge source="n27" target="n3"/><edge source="n27" target="n35"/><edge source="n28" target="n1"/><edge source="n28" target="n11"/><edge source="n28" target="n21"/><edge source="n28" target="n34"/><edge source="n29" target="n28"/><edge source="n29" target="n29"/><edge source="n29" target="n4"/><edge source="n3" target="n1"/><edge source="n3" target="n31"/><edge source="n3" target="n35"/><edge source="n32" target="n19"/><edge source="n32" target="n26"/><edge source="n32" target="n37"/><edge source="n32" target="n38"/><edge source="n32" target="n39"/><edge source="n33" target="n5"/><edge source="n34" target="n28"/><edge source="n34" target="n31"/><edge source="n34" target="n7"/><edge source="n36" target="n17"/><edge source="n36" target="n3"/><edge source="n36" target="n7"/><edge source="n37" target="n28"/><edge source="n38" target="n3"/><edge source="n38" target="n31"/><edge source="n4" target="n13"/><edge source="n4" target="n22"/><edge source="n5" target="n12"/><edge source="n5" target="n21"/><edge source="n6" target="n0"/><edge source="n6" target="n38"/><edge source="n6" target="n5"/><edge source="n7" target="n14"/><edge source="n7" target="n20"/><edge source="n8" target="n11"/><edge source="n8" target="n16"/><edge source="n8" target="n25"/><edge source="n8" target="n30"/><edge source="n9" target="n16"/><edge source="n9" target="n24"/><edge source="n9" target="n27"/><edge source="n9" target="n6"/></graph>
        </graphml>
      method: random
      nrepeats: 40
      remove_max: 0.5

  error:
    type: "object"
    properties:
      error:
        type: string
    example:
      error: something went wrong

  status:
    type: "object"
    properties:
      status:
        type: string
      result:
        $ref: '#/definitions/result'
    example:
      status: completed
      result:
        node-count: 87
        edge-count: 808
        repeats: 10
        nodes-removed:
          - 1
          - 3
          - 5
          - 7
          - 9
          - 11
          - 13
          - 15
        asp:
          mean:
            - 2.3792065663474697
            - 2.374575381754602
            - 2.3999779405318664
            - 2.4253313458693215
            - 2.3975086386781093
            - 2.439460511701319
            - 2.454888929900071
            - 2.4412980420557817
          min:
            - 2.3570451436388518
            - 2.2873417721518985
            - 2.3634447455585668
            - 2.3746835443037986
            - 2.2582159624413145
            - 2.339874120696038
            - 2.3380229544613105
            - 2.3599374021909254
          max:
            - 2.394528043775649
            - 2.397884219806054
            - 2.4724683544303794
            - 2.506160506160506
            - 2.5731210662717503
            - 2.5168456127360237
            - 2.5564605701591994
            - 2.5430201931518877
          std:
            - 0.010714420052802065
            - 0.03127109871541596
            - 0.029484172642294526
            - 0.04328854517873046
            - 0.0785588198276351
            - 0.05549820761994588
            - 0.0687712527061233
            - 0.05446174216606991


  result:
    type: object
    properties:
      node-count:
        type: integer
      edge-count:
        type: integer
      repeats:
        type: integer
      nodes-removed:
        type: array
        items:
          type: integer
    example:
      node-count: 87
      edge-count: 808
      repeats: 10
      nodes-removed:
        - 1
        - 3
        - 5
        - 7
        - 9
        - 11
        - 13
        - 15
      asp:
        mean:
          - 2.3792065663474697
          - 2.374575381754602
          - 2.3999779405318664
          - 2.4253313458693215
          - 2.3975086386781093
          - 2.439460511701319
          - 2.454888929900071
          - 2.4412980420557817
        min:
          - 2.3570451436388518
          - 2.2873417721518985
          - 2.3634447455585668
          - 2.3746835443037986
          - 2.2582159624413145
          - 2.339874120696038
          - 2.3380229544613105
          - 2.3599374021909254
        max:
          - 2.394528043775649
          - 2.397884219806054
          - 2.4724683544303794
          - 2.506160506160506
          - 2.5731210662717503
          - 2.5168456127360237
          - 2.5564605701591994
          - 2.5430201931518877
        std:
          - 0.010714420052802065
          - 0.03127109871541596
          - 0.029484172642294526
          - 0.04328854517873046
          - 0.0785588198276351
          - 0.05549820761994588
          - 0.0687712527061233
          - 0.05446174216606991

